In [1]:
# Import libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os

In [2]:
# Path

path = r'C:\Users\micky\OneDrive\Documents\Data Analytics Course\Data Immersion\Achievement 6\Citibike Project'

In [3]:
# Import citibike_clean as cb_df

cb_df = pd.read_csv(os.path.join(path, 'Data', 'citibike_clean.csv'), index_col = False)

In [5]:
# Check for missing values

cb_df.isnull().sum()

Unnamed: 0                    0
trip_id                       0
bike_id                       0
day_of_week                   0
start_hour                    0
start_time                    0
end_time                      0
trip_duration                 0
start_station_id              0
start_station_name            0
start_station_latitude        0
start_station_longitude       0
end_station_id                0
end_station_name              0
end_station_latitude          0
end_station_longitude         0
subscriber                    0
birth_year                 6979
gender                        0
dtype: int64

In [6]:
no_birth = cb_df[cb_df['birth_year'].isnull() ==True]

In [7]:
no_birth.shape

(6979, 19)

In [12]:
#Dropping n/a values

cb_df_clean = cb_df[cb_df['birth_year'].isnull() == False]

In [13]:
cb_df_clean.shape

(42993, 19)

In [14]:
# Drop multiple columns

cb_df_clean2 = cb_df_clean.drop(['Unnamed: 0', 'trip_id', 'bike_id', 'start_station_id', 'end_station_id', 'start_time', 'end_time', 'day_of_week', 'start_station_name', 'end_station_name', 'subscriber'], axis=1)

In [16]:
# Check cb_df_clean

cb_df_clean2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42993 entries, 0 to 49971
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   start_hour               42993 non-null  int64
 1   trip_duration            42993 non-null  int64
 2   start_station_latitude   42993 non-null  float64
 3   start_station_longitude  42993 non-null  float64
 4   end_station_latitude     42993 non-null  float64
 5   end_station_longitude    42993 non-null  float64
 6   birth_year               42993 non-null  float64
 7   gender                   42993 non-null  int64
dtypes: float64(5), int64(3)
memory usage: 3.0 MB

In [17]:
for col in cb_df_clean.columns.tolist():
      weird = (cb_df_clean[[col]].applymap(type) != cb_df_clean[[col]].iloc[0].apply(type)).any(axis = 1)
      if len (cb_df_clean[weird]) > 0:
        print (col)

In [19]:
# Create a correlation matrix using pandas

cb_df_clean2.corr()

,start_hour,trip_duration,start_station_latitude,start_station_longitude,end_station_latitude,end_station_longitude,birth_year,gender
start_hour,1.000000,0.048753,-0.003228,-0.045644,-0.037997,0.010231,0.064049,0.013930
trip_duration,0.048753,1.000000,-0.016408,0.001572,-0.046746,-0.000024,-0.046076,0.102948
start_station_latitude,-0.003228,-0.016408,1.000000,0.203817,0.579007,0.067596,-0.046369,-0.065446
start_station_longitude,-0.045644,0.001572,0.203817,1.000000,0.082088,0.403150,0.028715,-0.018369
end_station_latitude,-0.037997,-0.046746,0.579007,0.082088,1.000000,0.189827,-0.042970,-0.062168
end_station_longitude,0.010231,-0.000024,0.067596,0.403150,0.189827,1.000000,0.039176,-0.023609
birth_year,0.064049,-0.046076,-0.046369,0.028715,-0.042970,0.039176,1.000000,0.068891
gender,0.013930,0.102948,-0.065446,-0.018369,-0.062168,-0.023609,0.068891,1.000000