## Import Libraries

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

## Import Data

In [3]:
# Path

path = r'C:\Users\micky\OneDrive\Documents\Data Analytics Course\Data Immersion\Achievement 6\6.1'

In [4]:
#Create citibike

citibike = pd.read_csv(os.path.join(path, 'Data', 'citibike.csv'), index_col = False)

In [5]:
# Check columns for citibike

citibike.head()

,trip_id,bike_id,day_of_week,start_hour,start_time,end_time,trip_duration,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,subscriber,birth_year,gender
0,LnQzQk,16013,Mon,18,9/9/2013 18:18,9/9/2013 18:35,993,523,W 38 St & 8 Ave,40.754666,-73.991382,334,W 20 St & 7 Ave,40.742388,-73.997262,Subscriber,1968.0,2
1,IL9boN,15230,Thu,18,9/12/2013 18:38,9/12/2013 18:48,581,257,Lispenard St & Broadway,40.719392,-74.002472,236,St Marks Pl & 2 Ave,40.728419,-73.987140,Subscriber,1983.0,1
2,46clGB,17942,Wed,19,9/18/2013 19:44,9/18/2013 19:50,361,479,9 Ave & W 45 St,40.760193,-73.991255,513,W 56 St & 10 Ave,40.768254,-73.988639,Subscriber,1989.0,1
3,v7vdFt,19683,Sat,11,9/28/2013 11:54,9/28/2013 12:03,561,527,E 33 St & 1 Ave,40.743156,-73.974347,441,E 52 St & 2 Ave,40.756014,-73.967416,Subscriber,1988.0,2
4,VGBsb5,18024,Sat,18,9/7/2013 18:08,9/7/2013 18:46,2296,521,8 Ave & W 31 St,40.750450,-73.994811,476,E 31 St & 3 Ave,40.743943,-73.979661,Non-Subscriber,NaN,0

In [6]:
# Check shape for citibike

citibike.shape

(50000, 18)

In [7]:
# Check info for citibike

citibike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   trip_id                  50000 non-null  object
 1   bike_id                  50000 non-null  int64
 2   day_of_week              50000 non-null  object
 3   start_hour               50000 non-null  int64
 4   start_time               50000 non-null  object
 5   end_time                 50000 non-null  object
 6   trip_duration            50000 non-null  int64
 7   start_station_id         50000 non-null  int64
 8   start_station_name       50000 non-null  object
 9   start_station_latitude   50000 non-null  float64
 10  start_station_longitude  50000 non-null  float64
 11  end_station_id           50000 non-null  int64
 12  end_station_name         50000 non-null  object
 13  end_station_latitude     50000 non-null  float64
 14  end_station_longitude    50000 non-null  float64
 15  subscriber               50000 non-null  object
 16  birth_year               43021 non-null  float64
 17  gender                   50000 non-null  int64
dtypes: float64(5), int64(6), object(7)
memory usage: 6.9+ MB

In [8]:
# Descriptive statistics for citibike

citibike.describe()

,bike_id,start_hour,trip_duration,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,birth_year,gender
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,43021.000000,50000.000000
mean,17615.269360,14.145240,838.982900,443.321500,40.734170,-73.991109,442.539700,40.733859,-73.991351,1975.627786,1.073540
std,1675.407446,4.860541,573.663997,356.559925,0.019911,0.012555,355.756022,0.019885,0.012569,11.089001,0.589389
min,14556.000000,0.000000,60.000000,72.000000,40.680342,-74.017134,72.000000,40.680342,-74.017134,1899.000000,0.000000
25%,16188.000000,10.000000,417.000000,304.000000,40.720196,-74.000271,304.000000,40.720196,-74.001547,1968.000000,1.000000
50%,17584.000000,15.000000,672.000000,402.000000,40.735877,-73.990765,402.000000,40.735354,-73.991218,1978.000000,1.000000
75%,19014.000000,18.000000,1112.000000,484.000000,40.750020,-73.981923,483.000000,40.749013,-73.982050,1984.000000,1.000000
max,20642.000000,23.000000,2697.000000,3002.000000,40.770513,-73.950048,3002.000000,40.770513,-73.950048,1997.000000,2.000000

## Change data type

In [9]:
# Change data type for bike_id

citibike['bike_id'] = citibike['bike_id'].astype('str')

In [22]:
# Change data type for start_station_id

citibike['start_station_id'] = citibike['start_station_id'].astype('str')

In [23]:
# Change data type for end_station_id

citibike['end_station_id'] = citibike['end_station_id'].astype('str')

In [24]:
# Check info of cikibike

citibike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   trip_id                  50000 non-null  object
 1   bike_id                  50000 non-null  object
 2   day_of_week              50000 non-null  object
 3   start_hour               50000 non-null  int64
 4   start_time               50000 non-null  object
 5   end_time                 50000 non-null  object
 6   trip_duration            50000 non-null  int64
 7   start_station_id         50000 non-null  object
 8   start_station_name       50000 non-null  object
 9   start_station_latitude   50000 non-null  float64
 10  start_station_longitude  50000 non-null  float64
 11  end_station_id           50000 non-null  object
 12  end_station_name         50000 non-null  object
 13  end_station_latitude     50000 non-null  float64
 14  end_station_longitude    50000 non-null  float64
 15  subscriber               50000 non-null  object
 16  birth_year               43021 non-null  float64
 17  gender                   50000 non-null  int64
dtypes: float64(5), int64(3), object(10)
memory usage: 6.9+ MB

## Check for Null

In [11]:
# Check for nulls

citibike.isnull().sum()

trip_id                       0
bike_id                       0
day_of_week                   0
start_hour                    0
start_time                    0
end_time                      0
trip_duration                 0
start_station_id              0
start_station_name            0
start_station_latitude        0
start_station_longitude       0
end_station_id                0
end_station_name              0
end_station_latitude          0
end_station_longitude         0
subscriber                    0
birth_year                 6979
gender                        0
dtype: int64

In [19]:
na_birth_year = citibike[citibike['birth_year'].isnull() == True]

In [20]:
na_birth_year.shape

(6979, 18)

#### Chose to keep birth_years with n/a because most content was non-subscribes. Which could be useful to data.

## Export Data

In [25]:
# Extract citibike_clean.csv

citibike.to_csv(os.path.join(path, 'Data', 'citibike_clean.csv'))